.container {
    max-width: 800px !important;
    text-align: center;
    padding: 0 !important;
}

nav {
    width: inherit;
}

a .nav-link {
    text-decoration: none !important;
}

header {
    /*background-color: red;*/
    height: 70px;
    /*width: inherit;*/
}

.main-image {
    background-image: url('/assets/main_gym.jpg');
    background-position: -50px 0px;
    background-size: cover;
    height: 300px;

}
.serviceContainer {
    height: 400px;
    /*background-color: red;*/
    margin: 20px 0;
}

.serviceBlock {
    width: inherit;
    background-color: cornflowerblue;
}

.service {
    /*background-color: yellow;*/
    border: 1px solid grey;
    /*border-radius: 5px;*/
    width: 25%;
    height: 80%;
}

main {
    width: inherit;
}

.service-photo {
    height: 40%;
}

.service-title {
    margin: 10px 0;
    font-weight: bold;
}

.service-desc {
    font-size: 12px;
}

.map {
    height: 300px;
    background-color:green;
}

footer {
    height: 70px;
    background-color: #bba8e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-container {
    display: flex;
    justify-content: center;
}

.comments-container {
    width: 70%;
}

