.container {
    max-width: 800px !important;
    text-align: center;
    padding: 0 !important;
}

nav {
    width: inherit;
}

.nav-container {
    justify-content: space-around;
    padding: 0 20px !important;
}

div .no-decor a {
    color: black
}

header {
    height: 70px;
}


.serviceContainer {
    height: 400px;
    margin: 20px 0;

}
main {
    width: inherit;
}

.service-title {
    margin: 10px 0;
    font-weight: bold;
}

.service-desc {
    font-size: 12px;
}

#map {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    height: 70px;
    background-color: #d2a797;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-container {
    display: flex;
    justify-content: center;
}

.comments-container {
    width: 70%;
}

.font-italic {

}

/*--------------------------------------------------------------------------*/
.main-image {
    background-image: url('/assets/main_gym.jpg');
    background-position: -5px -55px;
    background-size: cover;
    height: 300px;
}

.service {
    border: 1px solid grey;
    width: 25%;
    height: 80%;
    position: relative;
}

.service-photo img{
    object-fit: cover;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.photo2 {
   object-position: -150px 0;
}

.text-area {
    position: absolute;
    top: 140px;
}

/*--------------------------------------------------------------*/
@media screen and (max-width: 700px) {
    .text-area {
        top: 130px;
    }
}

@media screen and (max-width: 400px) {
    .main-image {
        height: 150px;
        background-position: 0px -25px;
        margin-bottom: 40px;
    }

    .service {
        height: 250px;
        width: 100%;
        border: none;
    }

    .service-photo img {
        height: 50%;
    }

    .serviceContainer {
        flex-wrap: wrap;
        margin-top: 20px;
    }


    h5 {
        font-size: 20px;
    }

    #map {
        position: fixed;
        top: 320px;
    }

    .service-title {
        margin: 5px 0;
    }

    .nav-block {
        padding: 0;
    }

    .nav-container {
        justify-content: center !important;
    }

}

